*.log
.vscode/

# this is my first .gitignore file (wow)
# its a plain text file, similar to makefile, however that doesnt mean theyre txt files
# the "." file (.gitignore) denotes that its a file for development, in this case version control for vs code